
  <div class="container">
    <form [formGroup]="loginForm">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="login-form mx-auto">
            <h2 class="login-header">Đăng nhập</h2>
            <div class="form-group">
              <label for="userName">Tên tài khoản</label>
              <input type="text" class="form-control" id="userName" formControlName="userName" [ngClass]="{
                  'is-valid':
                    loginForm.get('userName')?.valid &&
                    (loginForm.get('userName')?.touched ||
                      loginForm.get('userName')?.dirty),
                  'is-invalid':
                    !loginForm.get('userName')?.valid &&
                    (loginForm.get('userName')?.touched ||
                      loginForm.get('userName')?.dirty)
                }" />
            </div>
            <div class="form-group password-field">
              <label for="password">Mật khẩu</label>
              <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{
                  'is-valid':
                    loginForm.get('password')?.valid &&
                    (loginForm.get('password')?.touched ||
                      loginForm.get('password')?.dirty),
                  'is-invalid':
                    !loginForm.get('password')?.valid &&
                    (loginForm.get('password')?.touched ||
                      loginForm.get('password')?.dirty)
                }" />
            </div>
            <button type="submit" class="login-button" (click)="submitHandler()" [disabled]="!loginForm.valid">Đăng nhập</button>
            <div class="divider"></div>
            <p class="text-center">
              Bạn chưa có tài khoản ?
              <span><a href ="/dang-nhap"class="register-link">Tạo tài khoản</a></span>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  