<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/trang-chu">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Dashboard</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider" />
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/hoc-bong">
                <i class="fas fa-fw fa-dollar-sign"></i>
                <span>Học Bổng</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/truong-hoc">
                <i class="fas fa-fw fa-school"></i>
                <span>Trường Học</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/chuyen-nganh">
                <i class="fas fa-user-graduate"></i>
                <span>Chuyên ngành</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/quoc-gia">
                <i class="fas fa-globe-asia"></i>
                <span>Quốc gia</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>Đăng xuất</span>
            </a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

            

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <div href="#">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <div class="container mt-4">
                <h3 class="text-center mb-4">Thêm chuyên ngành</h3>
                <form [formGroup]="fieldOfStudyForm">
                    <div class="row">
                        <!-- Tên Chuyên Ngành -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-5 mb-3 mx-auto " >
                            <label for="name" class="form-label">Tên Chuyên ngành</label>
                            <input type="text" class="form-control form-control-sm" id="name" placeholder="Nhập tên chuyên ngành" formControlName="name" name="fieldOfStudyName" 
                            [ngClass]="{
                                'is-valid': fieldOfStudyForm.get('name')?.valid && (fieldOfStudyForm.get('name')?.touched || fieldOfStudyForm.get('name')?.dirty),
                                'is-invalid': !fieldOfStudyForm.get('name')?.valid && (fieldOfStudyForm.get('name')?.touched || fieldOfStudyForm.get('name')?.dirty)  
                              }">
                        </div>
                    </div>
                    <!-- Tùy chọn -->
                    <div class="d-flex justify-content-center mt-4">
                        <ng-template *ngIf="id;then content else other_content">ddd</ng-template>
                        <ng-template #content>
                            <button (click)="onSubmit(true)" type="submit" [disabled]="!fieldOfStudyForm.valid"
                                class="btn btn-primary mx-2" style="background-color: #007bff; border-color: #007bff;">
                                Cập nhật
                            </button></ng-template>
                        <ng-template #other_content> <button (click)="onSubmit(false)" type="submit" [disabled]="!fieldOfStudyForm.valid"
                            class="btn btn-primary mx-2" style="background-color: #007bff; border-color: #007bff;">
                            Thêm
                        </button></ng-template>
                        <button type="button" class="btn btn-secondary mx-2" style="background-color: #6c757d; border-color: #6c757d;">
                            Hủy
                        </button>
                    </div>
                </form>
            </div>
            
            
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Bản quyền&copy; Nguyễn Đức Long 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>